!!!
%html
  %body
    %hr/
    .wrapper
      .row.no-gutters.bg-light.position-relative
        .col-md-6.mb-md-0.p-md-5
          = image_tag "bar.png"
        .col-md-6.position-static.p-4.pl-md-0
          %h5.mt-0 Fórum
          %p Lorem ipsum
          %a.stretched-link{href: "posts"} Me leve ao fórum
      %p
      .row.no-gutters.bg-light.position-relative
        .col-md-6.mb-md-0.p-md-5
          = image_tag "bar.png"
        .col-md-6.position-static.p-4.pl-md-0
          %h5.mt-0 Produtos
          %p Lorem ipsum
          %a.stretched-link{href: "#"} Me leve
      %p
      .row.no-gutters.bg-light.position-relative
        .col-md-6.mb-md-0.p-md-5
          = image_tag "bar.png"
        .col-md-6.position-static.p-4.pl-md-0
          %h5.mt-0 Indicaí
          %p Lorem ipsum
          %a.stretched-link{href: "#"} Me leve
      %p
      .row.no-gutters.bg-light.position-relative
        .col-md-6.mb-md-0.p-md-5
          = image_tag "bar.png"
        .col-md-6.position-static.p-4.pl-md-0
          %h5.mt-0 Curiosidades do mundo felino
          %p Lorem ipsum
          %a.stretched-link{href: "#"} Me leve
      %p
      .row.no-gutters.bg-light.position-relative
        .col-md-6.mb-md-0.p-md-5
          = image_tag "bar.png"
        .col-md-6.position-static.p-4.pl-md-0
          %h5.mt-0 ONGS - Adote ou ajude um miau
          %p Lorem ipsum
          %a.stretched-link{href: "#"} Me leve
      %p