<html>
<hr>
<div class="wrapper">
    <div class="row no-gutters bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
          <%= image_tag "bar.png" %>
      </div>
      <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0">Fórum</h5>
        <p>Lorem ipsum</p>
        <a href="posts" class="stretched-link">Me leve ao fórum</a>
      </div>
    </div>
    <p>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <%= image_tag "bar.png" %>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Produtos</h5>
      <p>Lorem ipsum</p>
      <a href="#" class="stretched-link">Me leve</a>
    </div>
  </div>
  <p>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <%= image_tag "bar.png" %>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Indicaí</h5>
      <p>Lorem ipsum</p>
      <a href="#" class="stretched-link">Me leve</a>
    </div>
  </div>
  <p>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <%= image_tag "bar.png" %>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Curiosidades do mundo felino</h5>
      <p>Lorem ipsum</p>
      <a href="#" class="stretched-link">Me leve</a>
    </div>
  </div>
  <p>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <%= image_tag "bar.png" %>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">ONGS - Adote ou ajude um miau</h5>
      <p>Lorem ipsum</p>
      <a href="#" class="stretched-link">Me leve</a>
    </div>
  </div>
  <p>
</div>
</html>
